i.icon{
    font-size: 2em;
}

.container.main{
    margin-top:7.0em;
}

#delete{
    display:inline;
}

.ui.large.image{
    width:100%;
}

#name{
    font-size:18px;
    font-weight:bold;
}

.user{
    display:inline;
}

.right{
    float:right;
}

#vertical-menu{
    display:none;
    margin:0;
}
.sports{
    background: url("../images/basketball.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.frontend{
    background: url("../images/keyboard.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home{
    background: url("../images/nyc.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.other{
    background: url("../images/other.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ui.header{
    color:white;
}
.ui.header.show{
    color:black;    
}

@media (max-width: 768px) {
    #vertical-menu{
        display:block;
    }
    #horizontal-menu{
        display:none;
    }
}